conky.config = {
	background = false,
	update_interval = 1,

	cpu_avg_samples = 2,
	net_avg_samples = 2,
	temperature_unit = 'celsius',

	double_buffer = true,
	no_buffers = true,
	text_buffer_size = 2048,

	gap_x = 0,
	gap_y = 0,
	minimum_width = 600, minimum_height = 1090,
	own_window = true,
	own_window_class = 'conky',
	own_window_argb_visual = true,
	own_window_argb_value = 255,
	own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
	own_window_colour = '#000000',
	background = false,
	border_inner_margin = 0,
	border_outer_margin = 0,
	alignment = 'top_right',

	draw_shades = false,
	draw_outline = false,
	draw_borders = false,
	draw_graph_borders = true,

	override_utf8_locale = true,
	use_xft = true,
	font = 'DejaVu Sans:size=11',
	xftalpha = 0.5,
	uppercase = false,

	default_color = 'white',
        color1 = 'blue',
        color2 = 'red',
};

conky.text = [[
${goto 10}${font :size=11}${color2}=> SYSTEM --------------------------------- ${color2}${color}${goto 300}|  							${goto 315}${color2}=> PROCESSES ---------------------- ${color2}${color}
${goto 10}${font :size=11}- ${color1}OS:${color} ${execi 10800 cat /etc/issue.net} ${machine} ${goto 300}| 							${goto 315}-  ${color1}Processes: ${color}${processes} ($running_processes running)
${goto 10}${font :size=11}- ${color1}Kernel: ${color}${kernel} ${goto 300}| 				    							${goto 315}${color2}Name  ${goto 455} PID 	    ${goto 520}CPU%	    ${goto 570} MEM%${color}
${goto 10}${font :size=11}- ${color1}Hostname: ${color}${nodename} ${goto 300}|                            							${goto 315}${top name 1}  ${goto 455}${top pid 1}   ${goto 520}${top cpu 1} ${goto 570}${top mem 1}
${goto 10}${font :size=11}- ${color1}Uptime: ${color}${uptime} ${goto 300}|                                							${goto 315}${top name 2}  ${goto 455}${top pid 2}   ${goto 520}${top cpu 2} ${goto 570}${top mem 2}
${goto 300}| 												    							${goto 315}${top name 3}  ${goto 455}${top pid 3}   ${goto 520}${top cpu 3} ${goto 570}${top mem 3}
${goto 10}${font :size=11}${color2}=> FILESYSTEM ---------------------------- ${color2}${color} ${goto 300}|							${goto 315}${top name 4}  ${goto 455}${top pid 4}   ${goto 520}${top cpu 4} ${goto 570}${top mem 4}
${goto 10}${font :size=11}- ${color1}Root: ${color}${goto 70}${fs_free /} / ${fs_size /} ${goto 300}|								${goto 315}${top name 5}  ${goto 455}${top pid 5}   ${goto 520}${top cpu 5} ${goto 570}${top mem 5}
${goto 300}|																			${goto 315}${top name 6}  ${goto 455}${top pid 6}   ${goto 520}${top cpu 6} ${goto 570}${top mem 6}
${goto 10}${font :size=11}${color2}=> CONNECTIONS ------------------------- ${color2}${color} ${goto 300}|							${goto 315}${top name 7}  ${goto 455}${top pid 7}   ${goto 520}${top cpu 7} ${goto 570}${top mem 7}
${goto 10}${font :size=11}- ${color1}Default Gateway: ${color}${gw_ip} ${goto 300}| 										${goto 315}${top name 8}  ${goto 455}${top pid 8}   ${goto 520}${top cpu 8} ${goto 570}${top mem 8}
${goto 10}${font :size=11}- ${color1}Public IpV4: ${color}${execi 3600 wget -O - -q ipv4.icanhazip.com} ${goto 300}|						${goto 315}${top name 9}  ${goto 455}${top pid 9}   ${goto 520}${top cpu 9} ${goto 570}${top mem 9}
${goto 300}|																			${goto 315}${top name 10}  ${goto 455}${top pid 10}   ${goto 520}${top cpu 10} ${goto 570}${top mem 10}
${goto 10}${font :size=11}- ${color1}WLAN  channel: ${color}${wireless_channel wlp0s20f3}, freq: ${wireless_freq wlp0s20f3} ${goto 300}|			${goto 315}${top name 11}  ${goto 455}${top pid 11}   ${goto 520}${top cpu 11} ${goto 570}${top mem 11}
${goto 10}${font :size=11}- ${color1}SSID: ${color}${wireless_essid wlp0s20f3} ${goto 300}|									${goto 315}${top name 12}  ${goto 455}${top pid 12}   ${goto 520}${top cpu 12} ${goto 570}${top mem 12}
${goto 10}${font :size=11}- ${color1}Signal: ${color}${wireless_link_qual wlp0s20f3}% ${goto 300}|								${goto 315}${top name 13}  ${goto 455}${top pid 13}   ${goto 520}${top cpu 13} ${goto 570}${top mem 13}
${goto 300}|																			${goto 315}${top name 14}  ${goto 455}${top pid 14}   ${goto 520}${top cpu 14} ${goto 570}${top mem 14}
${goto 10}${font :size=11}- ${color1}Wlan0: ${color}${addr wlp0s20f3} ${goto 300}|										${goto 315}${top name 15}  ${goto 455}${top pid 15}   ${goto 520}${top cpu 15} ${goto 570}${top mem 15}
${goto 10}--------------------------------------------------------${goto 300}|											${goto 315}${top name 16}  ${goto 455}${top pid 16}   ${goto 520}${top cpu 16} ${goto 570}${top mem 16}
${goto 10}|${goto 20}${color1}Down: ${color}${downspeed wlp0s20f3}/s ${goto 170}${color1}Up: ${color}${upspeed wlp0s20f3}/s ${goto 287}| ${goto 300}|		${goto 315}${top name 17}  ${goto 455}${top pid 17}   ${goto 520}${top cpu 17} ${goto 570}${top mem 17}
${goto 10}|${goto 20}${color1}Total: ${color}${totaldown wlp0s20f3} ${goto 170}${color1}Total: ${color}${totalup wlp0s20f3} ${goto 287}| ${goto 300}|		${goto 315}${top name 18}  ${goto 455}${top pid 18}   ${goto 520}${top cpu 18} ${goto 570}${top mem 18}
${goto 10}--------------------------------------------------------${goto 300}|											${goto 315}${top name 19}  ${goto 455}${top pid 19}   ${goto 520}${top cpu 19} ${goto 570}${top mem 19}	
${goto 10}${font :size=11}- ${color1}Eth0: ${color}${addr enp3s0} ${goto 300}|											${goto 315}${top name 20}  ${goto 455}${top pid 20}   ${goto 520}${top cpu 20} ${goto 570}${top mem 20}
${goto 10}--------------------------------------------------------${goto 300}|
${goto 10}|${goto 20}${color1}Down: ${color}${downspeed enp3s0}/s ${goto 170}${color1}Up: ${color}${upspeed enp3s0}/s ${goto 287}| ${goto 300}|
${goto 10}|${goto 20}${color1}Total: ${color}${totaldown enp3s0} ${goto 170}${color1}Total: ${color}${totalup enp3s0} ${goto 287}| ${goto 300}|
${goto 10}--------------------------------------------------------${goto 300}|
${goto 300}|
${goto 10}${font :size=11}${color2}=> SYSTEM LOAD -------------------------- ${color2}${color} ${goto 300}|  					
${goto 10}${font :size=11}- ${color1}CPU Usage: ${color}${cpu}% ${goto 300}| 																	
${goto 10}${font :size=11}- ${color1}CPU Temp: ${color}${execi 5 sensors | grep 'Package id 0' | awk '{print $4}' | tr -d '+'} ${goto 300}|
${goto 10}${font :size=11}- ${color1}CPU Frequency: ${color}${freq}MHz ${goto 300}| 
${goto 300}|																	
${goto 10}${color2}Core ${goto 75}Temp${goto 150}Usage${color} ${goto 300}|									
${goto 10}Core 1:  ${goto 75}${execi 5 sensors | grep 'Core 0:' | awk '{print $3}'}  ${goto 150}${cpu cpu1}%  ${goto 190}${cpubar cpu1 7,30}   ${goto 230}${freq_g 1}GHz ${goto 300}|
${goto 10}Core 2:  ${goto 75}${execi 5 sensors | grep 'Core 4:' | awk '{print $3}'}  ${goto 150}${cpu cpu2}%  ${goto 190}${cpubar cpu2 7,30}   ${goto 230}${freq_g 2}GHz ${goto 300}|
${goto 10}Core 3:  ${goto 75}${execi 5 sensors | grep 'Core 8:' | awk '{print $3}'}  ${goto 150}${cpu cpu3}%  ${goto 190}${cpubar cpu3 7,30}   ${goto 230}${freq_g 3}GHz ${goto 300}|
${goto 10}Core 4:  ${goto 75}${execi 5 sensors | grep 'Core 9:' | awk '{print $3}'}  ${goto 150}${cpu cpu4}%  ${goto 190}${cpubar cpu4 7,30}   ${goto 230}${freq_g 4}GHz ${goto 300}|
${goto 10}Core 5:  ${goto 75}${execi 5 sensors | grep 'Core 10:' | awk '{print $3}'} ${goto 150}${cpu cpu5}%  ${goto 190}${cpubar cpu5 7,30}   ${goto 230}${freq_g 5}GHz ${goto 300}|
${goto 10}Core 6:  ${goto 75}${execi 5 sensors | grep 'Core 11:' | awk '{print $3}'} ${goto 150}${cpu cpu6}%  ${goto 190}${cpubar cpu6 7,30}   ${goto 230}${freq_g 6}GHz ${goto 300}|
${goto 10}Core 7:  ${goto 75}${execi 5 sensors | grep 'Core 12:' | awk '{print $3}'} ${goto 150}${cpu cpu7}%  ${goto 190}${cpubar cpu7 7,30}   ${goto 230}${freq_g 7}GHz ${goto 300}|
${goto 10}Core 8:  ${goto 75}${execi 5 sensors | grep 'Core 13:' | awk '{print $3}'} ${goto 150}${cpu cpu8}%  ${goto 190}${cpubar cpu8 7,30}   ${goto 230}${freq_g 8}GHz ${goto 300}|
${goto 10}Core 9:  ${goto 75}${execi 5 sensors | grep 'Core 14:' | awk '{print $3}'} ${goto 150}${cpu cpu9}%  ${goto 190}${cpubar cpu9 7,30}   ${goto 230}${freq_g 9}GHz ${goto 300}|
${goto 10}Core 10: ${goto 75}${execi 5 sensors | grep 'Core 15:' | awk '{print $3}'} ${goto 150}${cpu cpu10}% ${goto 190}${cpubar cpu10 7,30}  ${goto 230}${freq_g 10}GHz ${goto 300}|
${goto 300}|
${goto 10}${font :size=11}- ${color1}RAM:${color} $mem / $memmax ($memperc%) ${goto 300}|
${goto 10}${font :size=11}- ${color1}Swap:${color} ${swap} / ${swapmax} ${goto 300}|
--------------------------------------------------------------------------------------------------------------------------
${goto 10}${font :size=11}${color2}=> PORTS ----------------------------------------- ${color2}${color}
${goto 10}${font :size=11}${color1}Inbound: ${color}${tcp_portmon 1 32767 count} ${goto 100}${color1} Outbound: ${color}${tcp_portmon 32768 61000 count}${goto 200} ${color1}ALL: ${color}${tcp_portmon 1 65535 count}

${goto 10}${color1}Port                         ${goto 50} Inbound Connection$color
${goto 10}${tcp_portmon 1 32767 rhost 0} ${goto 150} ${tcp_portmon 1 32767 lservice 0}
${goto 10}${tcp_portmon 1 32767 rhost 1} ${goto 150} ${tcp_portmon 1 32767 lservice 1}
${goto 10}${color1}Port                         ${goto 50} Outbound Connection$color
${goto 10}${tcp_portmon 32768 61000 rservice 0} ${goto 50} ${tcp_portmon 32768 61000 rhost 0}
${goto 10}${tcp_portmon 32768 61000 rservice 1} ${goto 50} ${tcp_portmon 32768 61000 rhost 1}
${goto 10}${tcp_portmon 32768 61000 rservice 2} ${goto 50} ${tcp_portmon 32768 61000 rhost 2}
${goto 10}${tcp_portmon 32768 61000 rservice 3} ${goto 50} ${tcp_portmon 32768 61000 rhost 3}
${goto 10}${tcp_portmon 32768 61000 rservice 4} ${goto 50} ${tcp_portmon 32768 61000 rhost 4}
]];